<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8">

        <!-- Meta viewport tag-->
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- SEO Meta Tags-->
        <meta name="description" content="Championnat League of Legends Antillais - LoL Antilles">
        <meta name="keywords" content="antilles, esport, esports, tournoi, compétition, lol, ligue, league, league of legends, stream, gaming, jeux, jeu, jeux vidéo, jeu vidéo">
        <meta name="author" content="Andy Zébus">

        <!-- Page title-->
        <title>{% if title %}{{ title }} | {% endif %}LoL Antilles - Communauté Antillaise League of Legends</title>

        {% include "partials/_favicons.njk" %}

        <!-- Theme Stylesheets -->
        {% if environment == 'production' %}
            <link href="assets/css/theme.min.css" rel="stylesheet">
        {% else %}
            <link href="assets/css/theme.css" rel="stylesheet">
        {% endif %}

        {% if environment == 'production' %}
            {% include "partials/_gtag.njk" %}
        {% endif %}
        <script defer src="assets/js/all.min.js"></script> <!--load all styles -->
    </head>

    <body>
        {% include "layouts/_header.njk" %}

        <!-- Main content -->
        <main>
            {% block content %} {% endblock content %}
        </main>

        {% include "layouts/_footer.njk" %}
        {% include "partials/_photoswipe.njk" %}

        {% if environment == 'production' %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.min.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.min.js"></script>
        {% else %}
            <!-- Core Javascripts -->
            <script src="assets/js/theme.core.js"></script>

            <!-- Theme Javascripts -->
            <script src="assets/js/theme.js"></script>
        {% endif %}
    </body>
</html>
